:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
  background-color: #FAFAFA;
}

app-footer {
  flex: 0 0 auto;
  margin-top: auto; /* Hace que el footer se empuje al final si hay espacio */
}
